* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yu Gothic", sans-serif;
}

/* Navigatie */
nav {
    display: flex;
    align-items: center;
    background-color: #414040;
    justify-content: space-between;
    margin: auto;
    border: solid #27e0f8;
}

nav li.hier a{
    color: #27e0f8;
    text-decoration-line: underline;
}

.logo {
    width: 120px;
    cursor: pointer;
    font-size: 3.5rem;
    padding-left: 1rem;
}

.logo a {
    text-decoration: none;
    color: #27e0f8;
}

nav ul li {
    display: inline-block;
    padding: 2rem 1.5rem;
}

nav ul li a{
    text-decoration: none;
    color: #27e0f8;
    text-transform: uppercase;
}

/* Algemeen */
.solid {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #27e0f8, transparent);
    margin-bottom: 2rem;
}

body {
    max-width: 70em;
    margin-right: auto;
    margin-left: auto;
    background-color: #595858;
}

main {
    background-color: #414040;
    height: 85vh;
}

main h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #27e0f8;
}

.main2, .main1 {
    background-color: #414040;
    height: auto;
}

.hoogte {
    padding-bottom: 14rem;
}

main p {
    margin-left: 1rem;
    margin-right: 1rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    -webkit-text-stroke-color: #27e0f8;
    -webkit-text-stroke-width: 1px;
    padding-top: 2rem;
    margin: 0;
}

/* Home Pagina */
.intro {
    text-align: center;
    color: #27e0f8;
    font-size: 1rem;
    margin-bottom: 3rem;
}

.info {
    text-align: center;
    color: #27e0f8;
    font-size: 1rem;
    margin-bottom: 3rem;
}

.klik {
    text-align: center;
    color: #27e0f8;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.main1 h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #27e0f8;
}

.main1 {
    padding-bottom: 9rem;
}

.voegToe {
    margin-right: auto;
    margin-left: auto;
    width: 27%;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: #3a3636;
    border: 2px dotted #de1b1b;
}

.voegToe a {
    text-decoration: none;
    padding: 1.5rem 1rem;
    color: #27e0f8;
}

.voegToe:hover {
    background-color: #de1b1b;
}

.button {
    text-align: center;
    margin-top: 1.5rem;
}

.buttonTwee {
    background-color: #3a3636;
    padding: 0.5rem 1rem;
    border: 2px solid #de1b1b;
}

.buttonTwee:hover {
    background-color: #de1b1b;
}

.buttonTwee a {
    text-decoration: none;
    color: #27e0f8;
}

.laatsGewijzigdText {
    text-align: center;
    font-size: 1.2rem;
    color: #27e0f8;
    margin-bottom: 0.5rem;
    margin-top: 0.9rem;
}

.thIndex th, .tdIndex td {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    text-decoration: none;
    font-size: 1rem;
    color: #27e0f8;
}

.thIndex {
    text-decoration: underline;
}

.idVerwijderd {
    text-align: center;
    font-size: 0.8rem;
    color: #de1b1b;
    margin-top: 1rem;
}

.geenWijzig {
    text-align: center;
    color: #de1b1b;
    font-size: 0.8rem;
}

/* Voeg Toe Pagina */
.main2 h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #27e0f8;
}

.fout {
    width: 33%;
    background-color: rgb(227, 0, 0);
    margin-bottom: 1rem;
    border:  #050505;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1.5rem;
}

.fout li {
    font-size: 1.2rem;
}

.fout p {
    font-size: 1.2rem;
}

.invulFormulier {
    width: 40%;
    border: dotted #de1b1b;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
    background-color: #262f31;
}

.invulVeld {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.invulVeld input, .invulVeld textarea{
    width: 100%;
    padding: 10px 0;
    font-size: 1.25rem;
    margin: 15px 0;
    border: none;
    border-bottom: 3px solid #262f31;
    outline: none;
    resize: none;
}

.invulVeld span {
    position: absolute;
    left: 0;
    padding: 10px 0;
    font-size: 1.25rem;
    margin: 15px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #323232;
}

.invulVeld input:focus ~ span, input:valid ~ span, .invulVeld textarea:focus ~ span, .invulVeld textarea:valid ~ span {
    color: #27e0f8;
    font-size: 0.7rem;
    transform: translateY(-25px);
}

.invulVeld input[type="submit"] {
    width: 110px;
    color: #27e0f8;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 1.375rem;
}

/* Overzicht Pagina */
.wijzig img, .verwijder img {
    width: 1.5rem;
    height: 1.5rem;
}

.wijzig {
    padding-left: 0.5rem;
    padding-right: 0.1rem;
}

.knopWijzig, .knopVerwijder {
    background-color: #414040;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border: none;
}

.knopWijzig:hover, .knopVerwijder:hover {
    background-color: #de1b1b;
    border-radius: 50px;
}

.verwijder {
    padding-left: 0.4rem;
    padding-right: 0.5rem;
}

table {
    margin-right: auto;
    margin-left: auto;
    border: double #27e0f8;
}

th, td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #27e0f8;
}

.woorden {
    text-decoration: underline;
}

.meestBetalende {
    margin-top: 2rem;
    color: #27e0f8;
    text-align: center;
    font-size: 1.2rem;
}

.meestBetalendeNaam {
    font-size: 1.5rem;
    color: #de1b1b;
    text-align: center;
    margin: 1rem 0;
}

/* Verwijder Pagina*/
.invulFormulierVerwijder {
    margin-top: 4rem;
    text-align: center;
}

.invulVeldGroen input[type="submit"], .invulVeldRood input[type="submit"] {
    width: 110px;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 1.375rem;
}

.invulVeldGroen input{
    color: #2fec2f;
}

.invulVeldRood input{
    color: #e0062d;
    margin-top: 1rem;
}

.inhoudVerwijder {
    text-align: center;
}

.inhoudVerwijder p {
    font-size: 1rem;
    color: #27e0f8;
    padding-top: 0.5rem;
}

/* zoekResultaten Pagina */
.resultaatNiet {
    padding: 1.5rem 0;
    background-color: #de1b1b;
    text-align: center;
    font-size: 1.2rem;
}

.zoekOpnieuw a {
    text-decoration: none;
    color: #27e0f8;
}
.zoekOpnieuw {
    margin-top: 4rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: #3a3636;
    border: 2px dotted #de1b1b;
    width: 30%;
}

.zoekOpnieuw:hover {
    background-color: #de1b1b;
}

/* Footer */
footer {
    background-color: #27e0f8;
    color: #000000;
    text-align: center;
    font-size: 1rem;
    bottom: 0;
    height: 4rem;
    width: 100%;
}

footer p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Media */
@media screen and (max-width: 950px) {
    th, td, .fout li, .fout p, .resultaatNiet, .thIndex th, .tdIndex td {
        font-size: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .intro, .info, .meestBetalendeNaam, .meestBetalende, .klik, .zoekOpnieuw a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .invulFormulier {
        width: 75%;
    }
}

@media screen and (max-width: 720px) {
    nav ul li {
        display: block;
        padding: 0;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 600px){
    h1{
        font-size: 1.875rem;
    }
    h2, h3, .voegToe{
        font-size: 1.25rem;
    }
    .voegGeldToe {
        font-size: 0.8rem;
    }
    .voegToe, .zoekOpnieuw {
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 0.5rem;
    }
}

@media screen and (max-width: 500px) {
    nav ul li a{
        font-size: 0.75rem;
    }
    th, td, .fout li, .fout p, .resultaatNiet, .thIndex th, .tdIndex td {
        font-size: 0.6rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .intro, .info, .meestBetalendeNaam, .meestBetalende, .klik, .zoekOpnieuw a {
        font-size: 0.6rem;
    }
}